<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
  </configSections>
  <dataConfiguration defaultDatabase="DBMembership" />
  <connectionStrings>
    <add name="DBConn" connectionString="Data Source=192.168.88.3\SurveyorSystem;Initial Catalog=CustomerPortal;Integrated Security=SSPI;"
      providerName="System.Data.SqlClient" />
    <add name="DBMembership" connectionString="Data Source=192.168.88.3\SurveyorSystem;Initial Catalog=CustomerPortalMemberShip;Integrated Security=SSPI;"
      providerName="UserProvider" />
  </connectionStrings>
  <appSettings>
    <add key="GSI" value="GSIApplication" />
    <add key="OriginatorID" value="2" />
    <add key="ImageRendererURL" value="http://27.111.36.49:56000/" />
    <add key="ImageRendererURLForReport" value="http://192.168.88.6:56000/" />
    <add key="UserName" value="GSIAppPool" />
    <add key="Password" value="GlobalSurveyId@2011" />
    <add key="Domain" value="GSIDEV" />
    <add key="WebPage" value="www.gsi.co.id"/>
    <add key="Complaint" value="2" />
    <add key="TimeComplaint" value="60" />
    <add key="UserNameReport" value="ginanjar" />
    <add key="PasswordReport" value="password.1" />
    <add key="DomainReport" value="GSIDEV" />
    <add key="UrlReport" value="http://gsidbdev/ReportServer_SURVEYORSYSTEM" />
  </appSettings>
  <system.web>
    <authorization>
      <allow users="*"  />
    </authorization>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="Login.aspx" protection="All">
        <credentials passwordFormat="SHA1" />
      </forms>
    </authentication>
    <machineKey validationKey="282487E295028E59B8F411ACB689CCD6F39DDD21E6055A3EE480424315994760ADF21B580D8587DB675FA02F79167413044E25309CCCDB647174D5B3D0DD9141" decryptionKey="726597227CBCA902B1A0925D40FAA00B353F2DF4359D2099" validation="SHA1"/>
    <roleManager
        cacheRolesInCookie="true"
        cookieName=".ASPROLES"
        cookieTimeout="30"
        cookiePath="/"
        cookieRequireSSL="true"
        cookieSlidingExpiration="true"
        cookieProtection="All"
        createPersistentCookie="false"
        enabled="true"
        defaultProvider="UserProvider">
      <providers>
        <add name="UserProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DBMembership" applicationName="GSIApplication"/>
      </providers>
    </roleManager>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdl" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <membership defaultProvider="UserProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="UserProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DBMembership" applicationName="GSIApplication" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordFormat="Hashed"/>
      </providers>
    </membership>
    <sessionState mode="SQLServer" sqlConnectionString="Data Source=192.168.88.3\SurveyorSystem;Initial Catalog=CustPortalASPState;Integrated Security=SSPI;" cookieless="false" timeout="30" allowCustomSqlDatabase="true" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
       validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="AntiXssModule" type="Microsoft.Security.Application.SecurityRuntimeEngine.AntiXssModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <validation validateIntegratedModeConfiguration="false"/>
    <asp scriptErrorSentToBrowser="true"/>
    <handlers>
      <add name="Reserved-ReportViewerWebControl-axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.88.6:53000/WCFService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService" contract="WCFCoreServiceReference.IService"
        name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp from="GSI Notification Service&lt;no-reply@globalsurveyindonesia.com&gt;">
        <network host="mail.inet.net.id" userName="smtp_gsi@inet.net.id" password="smtp_gsi.2@#"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
